.Footer{
  background: whitesmoke;
  padding: 20px;
}
.madetext{
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialBar{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.emailsocial, .githubsocial{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  position: relative;
}
.emailsocial:hover .emailtooltiptext {
  visibility: visible;
  opacity: 1;
}
.githubsocial:hover .githubtooltiptext {
  visibility: visible;
  opacity: 1;
}
.emailtooltiptext, .githubtooltiptext{
  opacity: 0;
  transition: all 0.1s ease;
  position: absolute;
  background: grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  color: whitesmoke;
  top: -120%;
  left: 50%;
  visibility: hidden;
  transform: translateX(-50%);
}
.githubsocial .githubtooltiptext::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}
.emailsocial .emailtooltiptext::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}

.perfbar {
  display: flex;
  justify-content: center;
  align-content: center;
}
